body {
  font-family: 'Roboto', sans-serif;
  /*color: white !important;*/
}

.animate-opacity{
  animation:opac 1.3s
  }
@keyframes opac{
    from{opacity:0} to{opacity:1}
}




.main{
  background-color : #101216;
  width:100%;
  height : 100%;
}

.mainCard {
  background-color: #bee1e8; /* fallback */
  background-image: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);
  background-size:cover;
/*
  max-width: 50%;
  max-height: 50%;
  */
  /* Fluid square */
  width: 40%;
  height: 0;
  padding-bottom: 40%;

  transform-style: preserve-3d;

  transition: all linear 1s;

}

.pop {
  transform: translateZ(3vw);
}

.ng-hide {
  opacity: 0;
}

.tetris {
  transition: all linear 1s 1s;
}

#avatar img {
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  border-radius: 50%;
}

#catchPhrase {
  margin-top: 1vw;
  margin-bottom: 3vw;
  text-align: center;
}

#catchPhrase div {

  font-size: 3vw;
  color : white;
}

#links img {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.scale{
  height: auto;
  max-width: 50%;
}

.scale-small{
  height: auto;
  max-width: 30%;
}



.kcode {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -120px;

  opacity: 0.25;
  filter: alpha(opacity=25);
}
