body {
  background-color: transparent;

  font-family: 'Roboto', sans-serif;

  /* Hack to enable hardware acceleration*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.animate-opacity{
  animation:opac 1.3s
  }
@keyframes opac{
    from{opacity:0} to{opacity:1}
}

.main{
  background-color: transparent;
  width:100%;
  height : 100%;
}

.mainCard {
  background-color: #bee1e8; /* fallback */
  background-image: linear-gradient(150deg, #1520ab 0%, #9e23a0 100%, #2b153d 100%);
  background-size:cover;

  /* Fluid square */
  width: 40%;
  height: 0;
  padding-bottom: 40%;

  transform-style: preserve-3d;

  transition: all linear 0.1s;
}

.pop {
  transform: translateZ(1vw);
}

.ng-hide {
  transition: all linear 1s;
  opacity: 0;
}

.tetris {
  transition: all linear 1s 1s;
}

#avatar img {
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  border-radius: 50%;
}

#catchPhrase {
  margin-top: 1vw;
  margin-bottom: 5vw;
  text-align: center;
}

#catchPhrase {

  font-size: 3.5vw;
  color : white;
}

#links img {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.scale{
  height: auto;
  max-width: 50%;
}

.scale-small{
  transition: transform .2s;
  height: auto;
  max-width: 30%;
}

.scale-small.github:hover, .scale-small.github:active,
.scale-small.resume:hover, .scale-small.resume:active{
  transform: scale(1.1);
  filter: invert(100%);
}

.scale-small.linkedin:hover{
  transform: scale(1.1);
  filter: brightness(50%) sepia(100) saturate(70) hue-rotate(180deg);
}



.tetris {
  height :100%; width :100%;
}

.game{
  height :100%;
   width :30%;
   position :absolute;
}

.kcode {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -120px;

  opacity: 0.25;
  filter: alpha(opacity=25);
}


@media (max-width: 1000px) {
  .mainCard {

    width: 80%;
    height: 0;
    padding-bottom: 80%;

  }

  .scale-small{
    max-width: 40%;
  }

  #catchPhrase {
    font-size: 7vw;
    margin-bottom: 10vw;
  }
}
